@{
    ViewBag.Title = "About Me";
}
<h3>About Me</h3>
<h5>Something About Me</h5>


<div class="container-fluid" style="background-color:lightgrey;">
    <div class="col-lg-6">
        <h4>Bio</h4>
        <p> I am Sinenhlanhla Dlamini,u19028386 a second year student at the University of Pretoria</p>
        <p>I have been programming since 2016, grade 10 at high and I have loved programming since then</p>
        <p>The field of IT has been very intresting and innovative.</p>
        <p>Hoping to finish the degree in record time, because I am excited to start working in the cooporate side.</p>
    </div>

    <div class="col-lg-6">
        <h4>Sinenhlanhla</h4>
        <img src="~/NewFolder1/20220406_170906.jpg" style="max-height : 150px; max-width : 180px;">
    </div>
</div>

