@{
    ViewBag.Title = "About Me";
}
<h3>Something About Me</h3>

<div class="container-fluid" style="background-color:lightgrey;">
    <div class="col-lg-6">
        <h4>Bio</h4>
        <p> I am Sinenhlanhla Dlamini,u19028386 a final year student in second. Funny right?</p>
        <p>The reason why am a final year that is a second year is because I failed INF 272 last year because of the way I approached it.</p>
        <p>But this year I have been putting in the effort and I can see change and the teaching approach for this year is really helpful</p>
        <p>The module AL's are also very helpful. hjj I have been consulting since day one and I got the help I needed.</p>
    </div>

    <div class="col-lg-6">
        <h4>Sinenhlanhla</h4>
        <img src="./mypicture.jpg" alt="mypicture">
    </div>
</div>

